$colors-heading: #1E0E62;

$dark-blue: #232340;

$desaturated-blue: #7676B2;

$light-orange: #FFBA79;

$off-white-1: #F5F5F5;

$primary-0: #FFFFFF;

$secondary-400: #54577A;

$soft-blue: #5468E7;

$icon-04: #F23936;

$grey: #6D7D8B;

$pallet-2-grey: #DEE1E6;

$primary-500: #546FFF;

$secondary-500: #141522;

$soft-blue-1: rgb(84, 104, 231);

$offer-color : rgb(35, 35, 64);

$default-gb: rgb(245,245,245);