.post {
    width: 377px;
    height: 500px;
    // display: flex;
    // flex-direction: column;
    box-shadow: 0px 18px 24px 0px rgba(118, 118, 178, 0.28);
    @media (max-width: 875px) {
        width: 311px;
        height: 440px;
    }
    transition: .4s linear;
    &:hover {
        transform: translateY(-10px);
    }
    .bodyPost {
        padding: 20.5px 0px 0px 10.5px;
        width: 377px;
        height: 274px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .summary {
            color: rgb(35, 35, 64);
            font-family: Lexend Deca;
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 1%;
            text-align: left;
            width: 356px;
            height: 100px;
            @media (max-width: 875px) {
                font-size: 12px;
                font-weight: 400;
                line-height: 23px;
                width: 281px;
            }
        }
    }
    .title {
        width: 100%;
        height: 85px;
        color: rgb(84, 104, 231);
        font-family: Lexend Deca;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;   
        @media (max-width: 875px) {
            font-size: 18px;
            font-weight: 400;
            width: 281px;
        }
    }
    .date{
        @media (max-width: 875px) {
            font-size: 10px;
            font-weight: 400;
            transform: translateY(-35px);
        }

    }
}